main .contenr {
  height: calc(99vh - 10vh);
  gap: 30px;
  position: relative;
  padding-left: 20px;
  align-items: flex-start;
  
  border-radius: 10px;
}
@media (max-width: 768px) {
  main .contenr {
    background: url(../imageMobile/bgMobile.png);
    background-repeat: no-repeat;
  background-size: cover;
  }
}
@media (min-width: 768px) {
  main .contenr {
    background: url(../image/Img\ 01.png);
   
    
    background-repeat: no-repeat;
  background-size: cover;
    color: var(--bg-Color-b);
  }
  main .contenr img {
    height: 100%;
  }
}

main .contenr button {
  margin-top: 20px;
}

main .contenr .cercle {
  gap: 10px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
main .contenr .cercle div {
  width: 13px;
  height: 13px;
  border-radius: 50px;
  background-color: var(--bg-Color-b);
}
main .contenr .cercle div:first-child {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 2px solid #fff;
}
.aside .contenr {
  height: 17vh;
  flex-wrap: wrap;
}
@media (max-width: 370px) {
  .aside .contenr h1 {
    font-size: 22px;
    margin-right: 10px;
  }
}
.aside .contenr {
  font-size: 22px;
}


.about {
  height: auto;
  margin-top: 40px;
}
.about .contenr .heading {
  height: 12vh;
}

.about .contenr .description {
  margin: 40px 0;
}
.about .contenr .img {
  margin: 20px 0;
}
.about .contenr .tow {
  margin: 20px 0;
  padding: 20px;
}
.about .contenr .tow :last-child {
  margin-top: 10px;
}
/* 
.about .contenr .tow :last-child {
  margin-top: 10px;
} */
