* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
:root {
  --colorFont: #000000;
  --towColor: #a18a68;
  --bg-Color-b: #f5f5f5;
  --treeColor: #707070;
  --bg: #ffffff;
}

ul {
  display: flex;
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}
button,
textarea,
input {
  border: none;
}

p,
h3,
h1,
li,
a,
button,
h4,
label {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  font-size: 16px;
  color: var(--colorFont);
}
h1 {
  font-weight: 500;
}
h1 {
  font-size: 33px;
}
.abou {
  font-size: 36px;
}
h3 {
  font-size: 26px;
}
button {
  border: 2px solid #ffffff;
  color: var(--bg-Color-b);
  padding: 10px 40px;
  border-radius: 6px;
  background: transparent;
  font-size: 20px;
}
span {
  color: var(--towColor);
}
h4,
span {
  font-size: 20px;
}
p {
  color: var(--colorFont);
}
img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
}
/*responsive */

.contenr {
  margin: 0 auto;
  height: 100%;
}
@media print {
  *{
    display: none;
  }
  main{
    display: blockييي;
    background-color: red;
  }
}
/*large*/

@media (min-width: 1200px) {
  .contenr {
    min-width: 90%;
  }
}

/*small*/
@media (min-width: 768px) {
  .contenr {
    width: 750px;
  }
}
/*mediam*/
@media (min-width: 992px) {
  .contenr {
    width: 970px;
  }
}

@media (max-width: 768px) {
  .contenr {
    width: 95%;
  }
}
.center-flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-flex-culom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sp-flex-culom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.sp-c-flex-culom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sp-flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ar-flex-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo,
.logo span {
  font-family: "Allerta Stencil";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  color: #686aa1;
}
.logo {
  color: var(--towColor);
}

header {
  width: 100%;
  height: 10vh;
}
header .contenr {
  height: 100%;
}
header .contenr nav {
  width: 550px;
}
header .contenr .mune-bar {
  display: none;
}
header nav ul li a {
  transition: 0.3s;
}
header nav ul li a:hover {
  color: #686aa1;
}
header .contenr .menu {
  width: 350px;
  border-right: 1px solid var(--treeColor);
}
@media (max-width: 768px) {
  header .contenr nav {
    display: none;
  }
  header .contenr .mune-bar {
    display: flex;
    font-size: 30px;
    color: var(--colorFont);
  }
  header {
    position: relative;
  }

  header .contenr .toggle {
    display: flex;
    flex-direction: column;
    background-color: #ededfab6;
    position: absolute;
    top: 10vh;
    z-index: 1000;
    width: 250px;
    right: 10px;
    padding: 20px;
    border-bottom: none;
    border-radius: 0 8px 0 8px;
    overflow: hidden;
    height: auto;
    transition: 1s;
  }

  header .contenr .toggle ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    font-size: 22px;
    font-weight: bold;
    height: 18vh;
    margin-bottom: 10px;
  }
  header .contenr .toggle ul li {
    background: rgb(245, 243, 243);
    width: 100%;
    padding: 5px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  header .contenr .toggle ul li a {
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    color: #000;
  }
  header .contenr .toggle ul li a:hover {
    color: #a2a4e6;
  }
  header .contenr .menu {
    width: 350px;
    border-right: 1px solid var(--treeColor);
  }
  header .contenr .menu {
    width: 350px;
    border-right: none;
  }
}

header .contenr .menu2 {
  width: 150px;
}
.main {
  width: 100%;
  height: 50vh;
  background-color: #e0e1ff;
  margin: 20px 0;
}
footer .contenr nav ul li i {
  color: var(--treeColor);
  font-size: 16px;
}
footer {
  margin-top: 80px;
  height: 20vh;
}
footer .contenr {
  position: relative;
  height: 100%;
  border-top: 1px solid var(--towColor);
}
footer .contenr .center {
  height: 100%;
}
footer .contenr .posin {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 16px;
}
footer .contenr .posin ul i {
  padding: 5px;
}
footer .contenr nav .sps {
  width: 450px;
}
footer .contenr nav ul li {
  color: var(--treeColor);
  font-size: 14px;
}
footer .contenr .footer-rigth {
  min-width: 35%;
  border-bottom: 1px solid var(--colorFont);
}
footer .contenr .footer-rigth p {
  color: var(--treeColor);
}
footer .contenr .footer-rigth i {
  color: var(--treeColor);
}
@media (max-width: 768px) {
  footer .contenr {
    height: auto;
  }
  footer .contenr .center {
    flex-wrap: wrap;
  }
  footer .contenr .footer-rigth {
    width: 100%;
    margin-bottom: 40px;
  }
  footer .contenr nav .sps {
    width: auto;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
  }
}
.products {
  position: relative;
}
.products .contenr {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}
.products .contenr .cart {
  max-width: 400px;
  height: 472px;
  margin: 0 auto;
  margin-bottom: 40px;
}
@media (max-width: 1290px) {
  .products .contenr {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .products .contenr .cart {
    height: 472px;
    margin-bottom: 40px;
  }
}


@media (max-width: 665px) {
  .products .contenr {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .products .contenr .cart {
    max-width: 400px;
    height: 472px;
    margin: 0 auto;
    margin-bottom: 40px;
   
  }
}


@media (max-width: 450px) {
  .products .contenr {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .products .contenr .cart {
    min-width: 240px;
    height: 472px;
    margin-bottom: 40px;
  }
}
.products .contenr .cart .image {
  width: 100%;
  height: 380px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}
.products .contenr .cart .des {
  max-height: calc(472px - 360px);
  background-color: var(--bg);
  padding: 13px 0;
  line-height: 3;
}
i {
  cursor: pointer;
}
.show {
  background-color: #a18a68;
  display: block;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 3px 0;
}

.shping {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 5vh;
  padding-right: 10px;
}
.shping i {
  color: #a18a68;
  font-size: 18px;
  transition: 0.3s;
}
.shping i:hover {
  transform: scale(1.3);
}

.des h4 {
  color: #b47f2f;
}

